@import "tailwindcss";

:root {
	--color-bg: #000;
  --color-bg-alt: hsl(240 3% 6%);
	--color-fg: oklch(0.985 0 0);
}

@theme inline {
	--color-bg: var(--color-bg);
  --color-bg-alt: var(--color-bg-alt);
	--color-fg: var(--color-fg);
}

@layer components {
  .light {
    @apply text-bg bg-fg;
  }

  .dark {
    @apply text-fg bg-bg;
  }

  .btn {
    @apply flex gap-2 items-center justify-center rounded-md font-semibold py-1.5 px-2;
  }

  .input {
    @apply focus:outline-none py-2 px-3 rounded-md;
  }

  .card {
    @apply p-4 border flex flex-col gap-4 rounded-lg;
  }

  .nav-link {
    @apply px-3 flex items-center text-lg gap-2 h-9 rounded-lg hover:bg-fg/10;
  }
}

@layer base {
  * {
    @apply border-fg/20;
  }

  /* headings */
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  /* general button fix */
  button:hover {
    @apply cursor-pointer;
  }

  /* custom scrollbar on pc */
  @media (hover: hover) and (pointer: fine) {
    /* firefox only */
    @-moz-document url-prefix() {
      html {
        scrollbar-width: thin;
      }
    }

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--color-fg);
    }
  }
}
